/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f60000;
  --ifm-color-primary-dark: #dd0000;
  --ifm-color-primary-darker: #d10000;
  --ifm-color-primary-darkest: #ac0000;
  --ifm-color-primary-light: #ff1010;
  --ifm-color-primary-lighter: #ff1c1c;
  --ifm-color-primary-lightest: #ff4141;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-background-color: #FFDC06;
  /* --ifm-navbar-link-color: #000000; */

  /* Secondary color palette (used for notes) */
  --ifm-color-secondary-dark: rgb(76, 179, 212);
  --ifm-color-secondary-darker: rgb(71, 169, 201);
  --ifm-color-secondary-darkest: rgb(59, 139, 165);
  --ifm-color-secondary-light: rgb(110, 207, 239);
  --ifm-color-secondary-lighter: rgb(135, 216, 242);
  --ifm-color-secondary-lightest: rgb(170, 227, 246);
  --ifm-color-secondary-contrast-background: rgb(238, 249, 253);
  --ifm-color-secondary-contrast-foreground: rgb(25, 60, 71);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffdc06;
  --ifm-color-primary-dark: #ebca00;
  --ifm-color-primary-darker: #debf00;
  --ifm-color-primary-darkest: #b79d00;
  --ifm-color-primary-light: #ffe020;
  --ifm-color-primary-lighter: #ffe22d;
  --ifm-color-primary-lightest: #ffe754;
  /* --ifm-navbar-link-color: #ffffff; */

  /* Secondary color palette (used for notes) */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-secondary-contrast-background: rgb(25, 60, 71);
  --ifm-color-secondary-contrast-foreground: rgb(238, 249, 253);

  --ifm-navbar-background-color: #F60000;

}

/* custom theme */
