/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* Secondary color palette (used for notes) */
  --ifm-color-secondary-dark: rgb(76, 179, 212);
  --ifm-color-secondary-darker: rgb(71, 169, 201);
  --ifm-color-secondary-darkest: rgb(59, 139, 165);
  --ifm-color-secondary-light: rgb(110, 207, 239);
  --ifm-color-secondary-lighter: rgb(135, 216, 242);
  --ifm-color-secondary-lightest: rgb(170, 227, 246);
  --ifm-color-secondary-contrast-background: rgb(238, 249, 253);
  --ifm-color-secondary-contrast-foreground: rgb(25, 60, 71);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;

  /* Secondary color palette (used for notes) */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-secondary-contrast-background: rgb(25, 60, 71);
  --ifm-color-secondary-contrast-foreground: rgb(238, 249, 253);

}

